.commentWrapper {
  display: flex;
  align-items: center;
  padding: 4px 16px 8px;
  max-width: 520px;
  margin-bottom: 10px;
}

.commentWrapper i {
  margin-right: 3px;
}

button.dropDown {
  background-color: rgb(242, 242, 242);
  margin-left: 440px;
  font-size: 20px;
}

.commentBox {
  background-color: rgb(242, 242, 242);
  width: 473px;
  border-radius: 0.8rem;
  padding: 4px;
}
