.commentDropDown {
  position: relative;
  display: inline;
}

button.dropDown {
  background-color: rgb(242, 242, 242);
  margin-left: 440px;
  font-size: 20px;
  cursor: pointer;
  /* z-index: 1px; */
}

.commentDropDownOptions {
  position: absolute;
  background-color: white;
  width: 200px;
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 4px;
  /* padding: 8px; */
  z-index: 1;
  right: 0;
}

.commentDropDownOptions button {
  background-color: white;
  display: block;
  font-size: 14px;
  width: 100%;
  padding: 15px;
  border: none;
  /* background-color: transparent; */
  cursor: pointer;
  text-align: left;
}

.commentDropDownOptions button:hover {
  background-color: #f5f5f5;
}

.editCommentWrapper input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none solid rgba(0, 0, 0, 0.9);
  text-align: start;
  /* width: 479px; */
  min-height: 35px;
  padding-right: 1px;
  border-radius: 70px;
  border: solid 2px;
  border-color: lightgray;
  outline: none;
}

.edit {
  background-color: aquamarine;
}
