.main {
  margin-left: 8%;
  position: absolute;
}

.loginPage {
  margin-right: 2%;
  padding: 40px;
}
.log-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.log-img {
  margin-top: 50px;
  height: auto;
  width: 700px;
}
@media (max-width: 700px) {
  .log-img {
    height: auto;
    width: 400px;
  }
  .log-container {
    display: block;
    align-items: center;
    justify-content: space-between;
  }
}
