.profile-button-container {
  position: relative;
  display: inline;
}

.dropDownBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.profile-dropdown {
  position: absolute;
  margin-top: 15px;
  background-color: white;
  min-width: 250px;
  min-height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1;
  right: 0;
}

.profile-dropdown li {
  padding: 10px;
  cursor: pointer;
}

.profile-button-container i {
  margin-right: 4px;
}
.profile-button-container button {
  border: none;
  cursor: pointer;
  width: 70px;
}

.dropDownBtn h6 {
  font-size: 10px;
}

.signOut {
  border: none;
  background-color: white;
}
.signOut:hover {
  border: none;
  width: 70px;
  text-decoration: underline;
}

.profileName {
  display: flex;
  font-size: 16px;
}

.profileName .user {
  background-color: white;
  color: black;
  border: none;
  font-size: 16px;
}
